header{
    background-color: rgba(192, 96, 128, 1);
    height: 250px;
}

#produtos{
    background-color: rgba(179, 53, 101, 1);
    height: 250px;
}

#parceiros{ 
    background-color ;rgba(179, 53, 101, 1);
    height: 250px;
}

#historia{
    background-color: rgba(224, 24, 101, 1);
    height: 250px;
}

#cadastro{
    background-color: rgba(207, 93, 156, 1);
    height: 250px;
}