header{
    background-color: rgb(43, 92, 43);
    height: 250px;
}

#produtos{
    background-color: rgb(34, 114, 77);
    height: 250px;
}

#parceiros{ 
    background-color: darkolivegreen;
    height: 250px;
}

#historia{
    background-color: rgb(19, 82, 47);
    height: 250px;
}

#cadastro{
    background-color: rgb(28, 99, 28);
    height: 250px;
}

